<h2>リスト名を編集</h2>

<%= form_with(model: @list, url: change_name_list_path(@list), local: true) do |form| %>
  <div>
    <%= form.label :name, "リスト名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "リスト名を更新する", class: "button" %>
  </div>
<% end %>

<hr>

<h2>リスト内の単語を編集</h2>

<%= render @list_content_partial %>

<%= link_to 'リスト一覧に戻る', lists_path, class: 'button' %>
