<div class="mobile-quiz-result <%= quiz_result_class_for_mobile(question) %>">
  <div class="label-row">問題</div>
  <div class="value-row"><%= question.word.definition %></div>

  <div class="label-row">あなたの回答</div>
  <div class="value-row"><%= question.user_answer %></div>

  <div class="label-row">正解</div>
  <div class="value-row"><%= question.word.term %></div>

  <div class="label-row">結果</div>
  <div class="value-row"><%= question.correctness_text %></div>
</div>
