<tr class="<%= question.css_class %>">
  <td><%= question.word.definition %></td>
  <td><%= question.user_answer %></td>
  <td><%= question.word.term %></td>
  <td><%= question.correct ? '正解' : '不正解' %></td>
</tr>
