<tr class="<%= quiz_result_class_for_pc(question) %>">
  <td><%= question.word.definition %></td>
  <td><%= question.user_answer %></td>
  <td><%= question.word.term %></td>
  <td><%= question.correctness_text %></td>
</tr>
