<%= turbo_frame_tag "quiz-frame" do %>
  <section class="quiz-section">
    <div class="container">
      <div class="quiz-container word-detail-frame"> <!-- スタイルを統一 -->
        <div class="text-center mb-4">
          <p class="quiz-intro-text">
            4択クイズが10問出されます。それぞれ日本語の意味に合った英単語を選んでください。
          </p>
          <p class="quiz-intro-text">
            ログインしてクイズを受けると、過去のクイズの成績がクイズ履歴に登録されます。
          </p>
        </div>

        <!-- クイズ開始ボタン -->
        <div class="text-center">
          <% if user_signed_in? %>
            <%= form_with url: play_quizzes_path(state: 'create'), method: :post, data: { turbo_frame: 'quiz-frame' }, class: "start-quiz-form" do %>
              <%= submit_tag "クイズ開始", class: "submit-button" %>
            <% end %>
          <% else %>
            <%= form_with url: play_quizzes_path(state: 'create'), method: :post, data: { turbo_frame: 'quiz-frame' }, class: "start-quiz-form" do %>
              <%= submit_tag "ゲストユーザーとしてクイズ開始", class: "btn btn-primary btn-wrap-break" %>
            <% end %>
            <div class="mt-3">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary", data: { turbo_frame: "_top" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
