<%= turbo_frame_tag "quiz-frame" do %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h2><%= @current_question_number %>/10</h2>
  <p><%= @current_question.word.definition %></p>

  <%= form_with url: play_quizzes_path(state: 'answer', id: @quiz.id, question_id: @current_question.id), method: :post, data: { turbo_frame: 'quiz-frame' } do %>
    <% @current_question.choices.each do |choice| %>
      <%= radio_button_tag :answer, choice %>
      <%= label_tag :answer, choice %><br>
    <% end %>
    <%= submit_tag "回答" %>
  <% end %>
<% end %>
