  <%= turbo_frame_tag "quiz-frame" do %>
    <section class="quiz-section">
      <div class="container">
        <div class="quiz-container">
          <div class="text-center mb-4">
            <h2 class="quiz-header"><%= @current_question_number %>/10</h2>
            <p class="quiz-definition"><%= @current_question.word.definition %></p>
          </div>
          <!-- エラーメッセージ領域 -->
          <div class="quiz-question-alert">
            <div class="alert">
              <%= flash[:alert] || "&nbsp;".html_safe %>
            </div>
          </div>
          <%= form_with url: play_quizzes_path(state: 'answer', id: @quiz.id, question_id: @current_question.id), method: :post, data: { turbo_frame: 'quiz-frame' } do %>
            <div class="quiz-options">
              <%= render partial: "quizzes/quiz_choice", collection: @current_question.choices, as: :choice %>
            </div>
            <div class="quiz-button-container mt-4">
              <%= submit_tag "回答", class: "submit-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
