<%= turbo_frame_tag "quiz-frame" do %>
  <h1>クイズ問題</h1>
  <p><%= @current_question_number %>/10</p>

  <p><%= @current_question.word.definition %></p>

  <%= form_with url: answer_quiz_path(@quiz, question_id: @current_question.id), method: :post do |f| %>
    <% @current_question.choices.each do |choice| %>
      <%= radio_button_tag :answer, choice, @current_question.user_answer == choice %>
      <%= label_tag :answer, choice %><br>
    <% end %>
    <%= f.submit "回答" %>
  <% end %>
<% end %>
