<% css_class = question.correct ? 'correct-result' : 'incorrect-result' %>
<div class="mobile-quiz-result <%= css_class %>">
  <div class="label-row">問題</div>
  <div class="value-row"><%= question.word.definition %></div>

  <div class="label-row">あなたの回答</div>
  <div class="value-row"><%= question.user_answer %></div>

  <div class="label-row">正解</div>
  <div class="value-row"><%= question.word.term %></div>

  <div class="label-row">結果</div>
  <div class="value-row"><%= question.correct ? '正解' : '不正解' %></div>
</div>
