 <%= turbo_frame_tag "quiz-frame" do %>  
  <section class="quiz-section">
    <div class="container">
      <div class="quiz-container">
        <div class="text-center mb-4">
          <h2 class="quiz-header">クイズ結果</h2>
          <p class="quiz-intro-text">
            開始日時: <%= @show_start_time %><br>
            スコア: <span class="quiz-score"><%= @quiz.display_score %></span>
            <%= render 'score_message' %>
          </p>
        </div>

        <div class="quiz-results-table-container desktop-view">
          <div class="table-responsive">
            <table class="quiz-results-table table table-bordered w-100">
              <thead>
                <tr>
                  <th>問題</th>
                  <th>あなたの回答</th>
                  <th>正解</th>
                  <th>結果</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'quiz_result_partial', collection: @questions, as: :question %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="quiz-results-mobile mobile-view">
          <%= render partial: 'quiz_result_mobile_partial', collection: @questions, as: :question %>
        </div>
      </div>
    </div>
  </section>
<% end %>

