<%= turbo_frame_tag "quiz-frame" do %>
  <h2>クイズ結果</h2>
  <table>
    <thead>
      <tr>
        <th>問題</th>
        <th>あなたの回答</th>
        <th>正解</th>
        <th>結果</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.word.definition %></td>
          <td><%= q.user_answer %></td>
          <td><%= q.word.term %></td>
          <td><%= q.correct ? '正解' : '不正解' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "もう一度プレイ", play_quizzes_path(state: 'new'), data: { turbo_frame: 'quiz-frame' } %>

<% end %>