<%= turbo_frame_tag "quiz-frame" do %>
  <section class="quiz-section">
    <div class="container">
      <div class="quiz-container">
        <div class="text-center">
          <h2 class="quiz-header"><%= @current_question_number %>/10</h2>
          <p class="quiz-definition"><%= @question.word.definition %></p>
        </div>
        <div class="quiz-question-alert">
          <div class="alert">
            <%= @result_message %>
          </div>
        </div>
        <div class="quiz-options">
          <%= render partial: "quizzes/answer_option", collection: @current_question.choices, as: :choice %>
        </div>
        <div class="quiz-button-container">
          <%= link_to(@button_label, play_quizzes_path(state: @next_state, id: @quiz.id), class: "submit-button", data: { turbo_frame: 'quiz-frame' }) %>
        </div>
      </div>
    </div>
  </section>
<% end %>
