<%= turbo_frame_tag "quiz-frame" do %>
  <section class="quiz-section">
    <div class="container">
      <div class="quiz-container">
        <div class="text-center">
          <h2><%= @current_question_number %>/10</h2>
          <p class="fs-6"><%= @question.word.definition %></p>
        </div>
        <!-- 正解/不正解メッセージ -->
        <div class="quiz-answer-alert">
          <%= @result_message %>
        </div>

        <!-- 選択肢 -->
        <div class="quiz-options">
          <% @question.choices.each do |choice| %>
            <label class="quiz-option-answer <%= quiz_option_class(choice) %>">
              <span><%= choice %></span>
            </label>
          <% end %>
        </div>

        <!-- 次へ進むボタン -->
        <div class="quiz-button-container">
          <%= link_to(
            @button_label,
            play_quizzes_path(state: @next_state, id: @quiz.id),
            class: "submit-button",
            data: { turbo_frame: 'quiz-frame' }
          ) %>
        </div>
      </div>
    </div>
  </section>
<% end %>
