<h1>クイズ結果</h1>
<p><strong>クイズ日時:</strong> <%= @show_start_time %></p>

<table>
  <thead>
    <tr>
      <th>問題</th>
      <th>あなたの回答</th>
      <th>正解</th>
      <th>結果</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.word.definition %></td>
        <td><%= question.user_answer %></td>
        <td><%= question.word.term %></td>
        <td><%= question.correct ? '正解' : '不正解' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'もう一度単語クイズに挑戦', new_quiz_path, class: 'button' %>
<%= link_to '過去のクイズ履歴一覧', history_quizzes_path, class: 'button' %>
