<h1>英単語クイズ</h1>

<%= turbo_frame_tag "quiz-frame" do %>
  <% case @view_state %>
  <% when :question %>
    <%= render partial: "quizzes/quiz_question", locals: { quiz: @quiz } %>
  <% when :answer %>
    <%= render partial: "quizzes/show_per_answer", locals: { quiz: @quiz, question: @question } %>
  <% when :results %>
    <%= render partial: "quizzes/results", locals: { quiz: @quiz } %>
  <% else %>
    <%= render partial: "quizzes/quiz_intro" %>
  <% end %>
<% end %>
