<%= turbo_frame_tag "quiz-frame" do %>

  <h1>結果</h1>
  <p><%= @current_question_number %>/10</p>

  <p>問題: <%= @question.word.definition %></p>
  <p>あなたの回答: <%= @question.user_answer %></p>
  <p>正解: <%= @question.word.term %></p>

  <p><%= @result_message %></p>

  <%= link_to @button_label, @next_link, data: { turbo_frame: 'quiz-frame' } %>

<% end %>
