<div class="hero-section">
  <div class="hero-titles">
    <h2 class="hero-subtitle">change profile picture</h2>
    <h1 class="hero-title">プロフィール画像の編集</h1>
  </div>
</div>

<div class="background-container">
  <section class="account-management-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="account-details-card card bg-dark text-white mb-4">
            <div class="card-body">
              <%= form_with model: @user, url: update_user_avatar_path, local: true, html: { multipart: true, class: "needs-validation" } do |f| %>
                <%= render "devise/shared/error_messages", resource: @user %>

                <div class="mb-3">
                  <%= f.label :avatar, "新しいプロフィール画像を選択", class: "form-label" %>
                  <%= f.file_field :avatar, class: "form-control" %>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-center mt-4">
                  <%= link_to "プロフィールにもどる", edit_user_registration_path, class: "btn btn-secondary me-md-2 mb-2 mb-md-0" %>
                  <%= f.submit "変更する", class: "btn btn-primary px-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
