<div class="hero-section">
  <div class="hero-titles">
    <h2 class="hero-subtitle">change nickname</h2>
    <h1 class="hero-title">ニックネームの編集</h1>
  </div>
</div>

<div class="background-container">
  <section class="account-management-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="account-details-card card bg-dark text-white mb-4">
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: update_user_nickname_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="mb-3">
                  <%= f.label :nickname, "新しいニックネーム (10文字以内) ", class: "form-label" %>
                  <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "新しいニックネームを入力" %>
                </div>

                <div class="d-flex justify-content-end mt-4">
                  <%= link_to "プロフィールにもどる", edit_user_registration_path, class: "btn btn-secondary me-2" %>
                  <%= f.submit "更新する", class: "btn btn-primary px-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
