<li class="recent-quiz-item d-flex align-items-center gap-2 mb-5">
  <div class="avatar-wrapper" style="flex-shrink: 0; width: 60px; text-align: center;">
    <% if quiz.user.present? %>
      <%= image_tag quiz.user.avatar.variant(resize_to_fill: [60, 60]), class: "avatar-img border", alt: quiz.display_username %>
    <% else %>
      <%= image_tag "user-default-image.png", alt: "ゲストユーザー", class: "avatar-img border",size: "60x60" %>
    <% end %>
  </div>

  <div class="home-quiz-info d-flex flex-wrap align-items-center">
    <strong><%= quiz.display_username %> さんが</strong>
    <div><%= quiz.display_score %> 点をとりました！</div>
    <span class="home-quiz-time ms-2"><%= quiz.display_start_time %></span>
  </div>
</li>
