<main>
  <div class="position-relative overflow-hidden p-0 vh-100 text-center bg-body-tertiary d-flex justify-content-center align-items-center">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">ここに入力</h1>
      <h3 class="fw-normal text-muted mb-3">なんとかかんとか</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <div class="d-flex flex-column gap-3">
          <!-- form -->
          <%= form_with url: search_words_path, method: :get, local: true do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :query, value: params[:query], class: "form-control form-control-lg", placeholder: "Search by word", aria: { label: "Search by word" } %>
              <%= f.submit "search", class: "btn btn-primary btn-lg", id: "basic-addon2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- FAQ  -->
<section class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12 col-lg-6">
        <h2 class="h1 mb-3">こんな時なんて言う？ </h2>
        <p class="lead fs-4 text-secondary mb-4">マッチ中にすぐ出てこない、伝えたいのに伝わらない...!</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How Do I Change My Billing Information?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>To change your billing information, please follow these steps:</p>
                    <ul>
                      <li>Go to our website and sign in to your account.</li>
                      <li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
                      <li>Under the "Billing Information" section, click on "Edit."</li>
                      <li>Make your changes and click on "Save."</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How Does Payment System Work?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    A payment system is a way to transfer money from one person or organization to another. It is a complex process that involves many different parties, including banks, credit card companies, and merchants.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Will taxes be included in my monthly invoice?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    Whether or not taxes are included in your monthly invoice depends on a number of factors, including your location, the type of services you are receiving, and the policies of the company providing you with those services.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What currency will I be charged in?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                  <div class="accordion-body">
                    The currency you are charged in when making a purchase will depend on a number of factors, including the merchant you are purchasing from, the country you are purchasing from, and the payment method you are using.
                  </div>
                </div>
              </div>
              <div class="accordion-item shadow-sm">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How Do I Cancel My Account?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                  <div class="accordion-body">
                    <p>To cancel your account, please follow these steps:</p>
                    <ul>
                      <li>Go to our website and sign in to your account.</li>
                      <li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
                      <li>Scroll to the bottom of the page and click on "Cancel Account."</li>
                      <li>Enter your password and click on "Cancel Account."</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bsb-cta-3 py-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid bg-light border shadow">
          <div class="row">
            <!-- ホバー対象はこのdiv -->
            <div class="col-12 col-md-6 p-0">
              <!-- ここにリンクを全体に適用 -->
              <%= link_to words_path, class: 'text-decoration-none' do %>
                <div class="card border-0 bg-transparent hover-card">
                  <div class="card-body text-center p-5 p-xl-8">
                    <h4 class="fw-bold mb-4">単語一覧</h4>
                    <p class="mb-4 mb-xl-5 text-secondary">メジャーな単語の意味とその詳細を解説しているよ！追加してほしい単語も募集中！</p>
                    <span class="fw-bold link-primary">どんな単語があるか見てみる</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                  </div>
                </div>
              <% end %>
            </div>

            <!-- もう一つのホバー対象div -->
            <div class="col-12 col-md-6 p-0 border-top border-bottom border-start">
              <!-- ここにリンクを全体に適用 -->
              <%= link_to play_quizzes_path(state: 'new'), class: 'text-decoration-none' do %>
                <div class="card border-0 bg-transparent hover-card">
                  <div class="card-body text-center p-5 p-xl-8">
                    <h4 class="fw-bold mb-4">単語クイズ</h4>
                    <p class="mb-4 mb-xl-5 text-secondary">1 セッション 10 問の単語クイズだよ! キャッチフレーズとか説明文を入れてくださいね！！！！！！！！！！！</p>
                    <span class="fw-bold link-primary">挑戦してみる</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!--  検索欄、スペースの検索結果修正必要 -->
<%= form_with url: search_words_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "単語検索" %>
    <%= text_field_tag :query, params[:query], placeholder: "ここに入力" %>
    <%= submit_tag "検索" %>
  </div>
<% end %>

<%= link_to '単語一覧を表示', words_path, class: 'button' %>

<%= link_to "クイズへ", play_quizzes_path(state: "new"), data: { turbo_frame: "quiz-frame" } %>

