<%= turbo_frame_tag "word_list" do %>
  <%= turbo_frame_tag "word_detail" do %>
  <% end %>

  <% if defined?(message) && message.present? %>
    <div class="message-container">
      <h5><%= message %></h5>
    </div>
  <% end %>

  <% if defined?(words_present) && words_present %>
    <div class="word-list">
      <% words.each do |word| %>
        <%= link_to word_path(word), data: { turbo_frame: "word_detail" }, class: "word-item d-flex align-items-center gap-3 p-2 mb-2 alpha-filter text-decoration-none" do %>
          <div class="word-term fw-bold">
            <%= word.term %>
          </div>
          <div class="word-definition">
            <%= word.definition %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
