<%= turbo_frame_tag "word_list" do %>
  <%= turbo_frame_tag "word_detail" do %>
  <% end %>

  <h2><%= defined?(message) ? message : "アルファベットを選択してください" %></h2>

  <% if defined?(words_present) && words_present %>
    <ul>
      <% words.each do |word| %>
        <li>
          <%= link_to word.term, word_path(word), data: { turbo_frame: "word_detail" } %>: <%= word.definition %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
