<%= turbo_frame_tag "word_detail" do %>
  <h1><%= word.term %></h1>
  <p><strong>意味:</strong> <%= word.definition %></p>
  <p><strong>詳細:</strong> <%= word.explanation %></p>


  <%= turbo_frame_tag "new_list" do %>
    <%= render 'form', list: list, word: word %>
  <% end %>
  <%= turbo_frame_tag "flash_message" do %>
    <p>ここにエラー</p>
  <% end %>

  <%= turbo_frame_tag "lists" do %>
    <%= render 'lists/lists', lists: current_user.lists %> 
  <% end %>

<% end %>
