<%= turbo_frame_tag "word_detail", autoscroll: true, data: { autoscroll_block: "start" } do %>
  <div class= "word-detail-frame">
    <h1><%= word.term %></h1>
    <p><strong>意味:</strong> <%= word.definition %></p>
    <p><strong>詳細:</strong> <%= word.explanation %></p>
    <p><strong>例文:</strong> <%= word.example_en %></p>
    <p><strong>ニュアンス訳:</strong> <%= word.example_jp %></p>
  </div>
<% end %>
