<% if flash[:notice] %>
  <%= turbo_stream.replace "flash_message" do %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
  <% end %>
<% elsif flash[:alert] %>
  <%= turbo_stream.replace "flash_message" do %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
  <% end %>
<% end %>



<% if @list.errors.any? %>
  <%= turbo_stream.replace "new_list" do%>
    <%= render 'form', list: List.new, word: @word %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "lists" do %>
    <%= render 'lists/lists', lists: current_user.lists %>
  <% end %>

  <%= turbo_stream.replace "new_list" do %>
    <%= render 'form', list: List.new, word: @word %>
  <% end %>
<% end %>