<h1>Words#show</h1>
<p>Find me in app/views/words/show.html.erb</p>

<h1><%= @word.term %></h1>
<p><strong>意味:</strong> <%= @word.definition %></p>
<p><strong>詳細:</strong> <%= @word.explanation %></p>

<%= form_with url: save_word_path(@word), method: :post, local: true do %>
  <div>
    <%= label_tag :list_id, "リストを選択" %>
    <%= select_tag :list_id, options_from_collection_for_select(current_user.lists, :id, :name), prompt: "リストを選択" %>
    <%= link_to '新規リスト作成', new_list_path %>
  </div>
  <div>
    <%= submit_tag "保存" %>
  </div>
<% end %>

<%= link_to '頭文字のページに戻る', words_path, class: 'button' %>