<!DOCTYPE html>
<html>
  <head>
    <title>NoScorpApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>

    
  </head>

  <body>
    <% if flash[:notice] %>
  　　<p class="alert"><%= notice %></p>
　　<% elsif flash[:alert] %>
  　　<p class="alert"><%= alert %></p>
　　<% end %>

    <%= yield %>
    <nav>
      <%= link_to "ホーム", root_path, class: "button" %>
      <%= render login_partial %>
    </nav>
  </body>
</html>
